Types of selects
*{
    select all
}
name of element
h1{
    all the h1
}
p{
    all the p
}
class: name of the class
.container{

}
.container-nav{

}
.container-nav__2{

}
ID
#nameofelement
attribute
[name1:"name2"]{

}
[caja:"relleno"]{

}
descendant
h1 p{

}
.container-nav p{

}
#nameofelement h1 p{

}
pseudoclass
h1:pseudoclass{

}


specificity:

!important
line style 
ID
class
pseudoclass
attribute
element
pseudoelement


methodology
class:"contact-form"
class:"contact-form__input"
.contact-form{

}
.contact-form__input{

}
unit
font-size:
px
cm
mm
pt 
em
vh heigth
vw width

text property
font-size:      tamaño de la letra
font-family:    tipografia
line-height:    tamño que ocupa la letra
font-weight:    grosor

/* comentario */

{display:inline } /* no ocupa un lugar determinado */
{display:inline-block }/* no ocupa toda la casilla completa */
{display:block }/* ocupa todo el ancho de la pagina */

box property
background:     color del fondo
color:          color del elemento
padding:        left top right bottom de la caja al texto
margin:         left top right bottom del margen a la caja
box-sizing:     border-box mantiene el tamaño de la caja
text-aling:     alineacion del texto 
border-radius:  numero%
border:         tamaño stilo color
box-shadow:     mueve X mueve Y desenfoque tamaño del borde color
text-shadow:    mueve X mueve Y desenfoque color
transform:      rotate (numero + deg)
outline:        no ocupa espacio
position:       relative:       mantiene el espacio pero la caja se mueve 
                absolut:        

orden de gerarquia
line-height:
padding:
border:
margin:
